/* INNER HERO */
.inner-hero{
    margin:30px;
    height:60vh;
    border-radius:50px;
    background:url('../assets/about-hero.jpg') center/cover no-repeat;
    position:relative;
    overflow:hidden;
  }
  
  .inner-hero-content{
    position:relative;
    z-index:2;
    color:#fff;
    padding:100px;
    max-width:800px;
  }
  
  .breadcrumb{
    opacity:.8;
    letter-spacing:1px;
  }
  
  /* ABOUT PAGE */
  .about-page{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:60px;
    padding:120px 80px;
  }
  
  .about-text h2{
    font-family:"Playfair Display";
    font-size:44px;
    margin-bottom:20px;
  }
  
  .about-text p{
    margin-bottom:20px;
    line-height:1.8;
  }
  
  /* MISSION & VISION */
  .mission-vision{
    padding:120px 80px;
    text-align:center;
  }
  
  .mv-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:40px;
    margin-top:60px;
  }
  
  .mv-card{
    background:#fff;
    padding:50px;
    border-radius:40px;
  }
  
  .icon-circle{
    width:70px;
    height:70px;
    background:#eaf0dc;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:28px;
    margin:0 auto 20px;
  }
  
  /* STATS */
  .about-stats{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:30px;
    padding:80px;
  }
  
  .stat-box{
    background:#fff;
    border-radius:30px;
    padding:40px;
    text-align:center;
  }
  
  .stat-box h3{
    font-size:42px;
    color:var(--green);
  }
  