/* CONTACT PAGE */
.contact-page{
    padding:120px 80px;
  }
  
  .contact-grid{
    display:grid;
    grid-template-columns:1.1fr .9fr;
    gap:60px;
  }
  
  .contact-form,
  .contact-info{
    background:#fff;
    padding:50px;
    border-radius:40px;
  }
  
  .contact-form h2,
  .contact-info h2{
    font-family:"Playfair Display";
    margin-bottom:10px;
  }
  
  .contact-form form{
    margin-top:30px;
    display:flex;
    flex-direction:column;
  }
  
  .contact-form input,
  .contact-form textarea{
    margin-bottom:16px;
    padding:14px 16px;
    border-radius:12px;
    border:1px solid #ddd;
    font-family:Inter;
  }
  
  .contact-form textarea{
    resize:none;
  }
  
  .info-item{
    margin-bottom:20px;
  }
  
  .info-item strong{
    display:block;
    margin-bottom:6px;
  }
  
  /* MAP */
  .map-section{
    margin:40px 30px;
    border-radius:40px;
    overflow:hidden;
  }
  
  .map-section iframe{
    width:100%;
    height:420px;
    border:0;
  }
  