* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f9fdf9;
  color: #1f2937;
}

/* Buttons */
.btn-primary {
  background: #166534;
  color: #fff;
  padding: 12px 22px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
}

.btn-secondary {
  border: 2px solid #166534;
  color: #166534;
  padding: 12px 22px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
}
